#!/bin/bash
set -euf -o pipefail

export AWS_ACCESS_KEY_ID="{{ access_key_id }}"
export AWS_SECRET_ACCESS_KEY="{{ secret_access_key }}"

ZONE_ID=ZB1GFAQUK0XOB
PUBLIC_ROUTES='["rosshammer.com.", "*.rosshammer.com."]'
PRIVATE_ROUTES='["mqtt.rosshammer.com."]'
PUBLIC_IP=$(curl -fsS4 ifconfig.co)
INTERNAL_IP=$(hostname -I | awk '{print $1}')

echo "Updating zones"
CHANGE=$(jq -nc --arg internal_ip "$INTERNAL_IP" --arg public_ip "$PUBLIC_IP" \
    --argjson private_routes "$PRIVATE_ROUTES" --argjson public_routes "$PUBLIC_ROUTES" '
def record(ip): {
        Action: "UPSERT",
        ResourceRecordSet: {
            Name: .,
            Type: "A",
            TTL: 300,
            ResourceRecords: [ { Value: ip }]
        }
    };
{
    Changes: (
        ($public_routes | map(record($public_ip))) +
        ($private_routes | map(record($internal_ip)))
    )
}
')
echo $CHANGE
aws route53 change-resource-record-sets --hosted-zone-id "$ZONE_ID" --change-batch "$CHANGE"

