password: {{ api_password }}
home_location_latitude: {{ home_location.latitude }}
home_location_longitude: {{ home_location.longitude }}
work_location_latitude: {{ work_location.latitude }}
work_location_longitude: {{ work_location.longitude }}
pushbullet_api: {{ pushbullet_api }}
neato_password: {{ neato_password }}
